.converter-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: aliceblue;
  margin: 50px 0px;
  
}
 
.Feet,
.Meters,
.Kilometers,
.Yards,
.Inches,
.Cm,
.Miles {
  display: flex;
  flex-direction: column;
  color: white;
  width: 450px;
  font-size: 17px;
  gap: 4px;
}
input {
  padding: 10px;
  background-color: rgb(63, 63, 63);
  border: none;
  font-size: 15px;
  color: rgb(206, 204, 204);
 border: 1px solid rgb(206, 204, 204);
 border-radius: 5px;
 height: 20px;
}
input::placeholder {
  color: rgb(206, 204, 204);
}
