body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(29, 29, 29);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

*{
  list-style-type: none;
  text-decoration: none;
}